body {
  /*background: #f3f1f2;*/
  font-family: sans-serif;
}

.quill {
  margin: 1rem 4rem;
  transition: width 700ms ease-in-out;
}

.quill .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.w-200{
  width: 200%
}

/* Snow Theme */
.quill .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.quill .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.quill .ql-editor {
  min-height: 18em;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}

a, a:hover { 
  text-decoration: none; 
  color: inherit;
} 

ins {
  text-decoration: none;
  background-color: #d4fcbc;
}

del {
  text-decoration: line-through;
  background-color: #fbb6c2;
  color: #555;
}